@charset "UTF-8";
h1,h2{
color:rgb(255, 0, 255);
background: black;
}
.green{
color:green;}
#first
{
	color:aqua;
}
.container{
	border: 1px ridge rgb(128, 0, 128);
	width: 40%;
	margin:20px;
	display:flex;
	flex-direction: roll;
	
}
.item{
	border: 1px double blue;
	width: 65%;
	margin:20px;
}